.react-calendar {
    /* padding: 5px; */
    margin: 7.5%;
    border-radius: 10px;
}

.calendar_title {
    text-align: center;
}

.react-calendar__tile--active {
    background-color: #274B7D!important;
}

.react-calendar__navigation {
    border-bottom: 1px solid black;
}

.react-calendar__month-view__days {
}

.todayShift {
    margin: 7.5%;
    border: 1px solid #274B7D;
    border-radius: 10px;
    text-align: center;
}

.todayShift p {
    margin-bottom: 0px!important;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #274B7D;
}